<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Emognize</p>
                      <p align="center"> <b>Decode your emotional interactivity through Facial Coding.</b>
                </p>

      <a class="submit" align="center">Sign in</a>
            
                
    </div>
     
</body>

</html>